<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="posts">
    <% @posts.each do |post| %>
      <div class="post">

        <h2 class="title">
          <%= link_to post.title, posts_path(post.id) %>
        </h2>

        <small class="meta">
          <span class="author">by <%= post.author %> -</span>
          <em class="created_at"><%= post.created_at %></em>
        </small>
        <%= link_to 'Edit', posts_path(post.id) %>
        <form method="post" action="/posts/<%= post.id %>" style='display: inline;'>
          <input type="submit" value="Delete">
        </form>
      </div>
      <hr />
    <% end %>
  </div>
  <%= link_to 'New Post', new_post_path %>
</body>
</html>